name: Build & Test

on:
  push:
    branches: ['*']
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Liberate disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          large-packages: false
          docker-images: false
          swap-storage: false

      - uses: addnab/docker-run-action@v3
        with:
          image: quantconnect/lean:foundation
          options: --workdir /__w/Lean.DataSource.dYdXFundingRate/Lean.DataSource.dYdXFundingRate -v /home/runner/work:/__w
          shell: bash
          run: |
            # BuildDataProcessing
            # Build
            dotnet build /p:Configuration=Release /v:quiet /p:WarningLevel=1 Lean.DataSource.dYdXFundingRate.sln && \
            # Run Tests
            dotnet test ./DataProcessing.Tests/bin/Release/DataProcessing.Tests.dll